body{
    background-color: grey;
    text-align: center;
    color: azure;
}
p{
    font-size: large;
    
    
}
article{
    margin: 20px;
    margin-bottom: -20px;
    padding: 150px;
    display: flex;
    justify-content: center;
    border-radius: 22px;
}
#superman{
    background-color: red;
    color: yellow;
    border: 2px solid blue;
}
#batman{
    background-color: black;
    color: lightgrey;
    border: 2px solid yellow;
}

button{
    border-radius: 14px;
    padding: 20px;
    cursor: pointer;
}