body{
    background-color: lightslategrey;
    color: azure;
    text-align: center;
    cursor: pointer;
}



article{
    height: auto;
}

.pictureCSS{
    
    border: azure 5px solid;
    border-radius: 2px;
    width: 60%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 170px;
     
     
}
