article{
    display: flex;
}

button{
    margin: 15px;
    padding: 10px;
    background-color: blanchedalmond;
    color: midnightblue;
    font-size: medium;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px grey;
}

button:hover{
    margin: 15px;
    padding: 10px;
    background-color: rgba(255, 235, 205, 0.56);
    color: midnightblue;
    font-size: medium;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px grey;
}


#square1{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 20px;
    margin-bottom: 40px;
    display: none;
}

#square2{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 20px;
    margin-bottom: 40px;
    display: none;
}

#square3{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 20px;
    margin-bottom: 40px;
    display: none;
}

#square4{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 20px;
    margin-bottom: 40px;
    display: none;
}